@import './mixins';
@import './themes.module.scss';

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  padding: 25px;

  &_header {
    grid-area: 1/1/2/3;
    padding-left: 30px;
    background: none;
  }  
}

.superbadge {
  @include blockStyle();
  @include flex(column, center, null, 20px);
  align-self: start;

  & > img {
    filter: drop-shadow(0 10px 20px gray); 
  }
}

.coins {
  @include flex(null, center, center, 20px);

  & > div {
    @include flex(null, center, center, 5px);
  }
}

.buttons {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;

  & > button {
    padding: 15px;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      font-weight: 700;
    }
  }

  &_init {
    background-color: rgb(28, 163, 143);
  }
  
  &_facebook {
    background-color: rgb(26, 117, 209);
  }

  &_google {
    background-color: rgb(235, 96, 110);
  }
}

.rewards_list {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.rewards_item {
  @include blockStyle();
  @include flex(column, center, space-between, 10px);
  flex: 1;

  & > h3 {
    flex: 1;
    text-align: center;
  }

  & > img {
    filter: drop-shadow(0 10px 20px gray); 
  }
}

.rewards_coins {
  @include flex(null, center, center, 10px);
  margin: 10px 0;

  & > div {
    @include flex(null, center, center, 5px);
  }
}

.completed {
  filter: brightness(0.5) grayscale(0.5);
  opacity: 0.2;
}


@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    padding: 10px;

    &_header {
      grid-area: 1/1/2/2;
    }
  }
}